body{
  margin:0;
  font-family:Inter, sans-serif;
}

.auth-bg{
  height:100vh;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(25px);
  padding:50px;
  border-radius:25px;
  width:350px;
  text-align:center;
  color:white;
}

.auth-card input{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
}

.auth-card button{
  width:100%;
  margin-top:20px;
  padding:12px;
  border:none;
  border-radius:12px;
  background:linear-gradient(90deg,#2563eb,#7c3aed);
  color:white;
  cursor:pointer;
}

.sidebar{
  position:fixed;
  width:220px;
  height:100vh;
  background:#0f172a;
  padding:30px;
  color:white;
}

.sidebar a{
  display:block;
  margin-top:20px;
  color:#94a3b8;
  text-decoration:none;
}

.main{
  margin-left:240px;
  padding:40px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  margin-top:20px;
  color:white;
}
